# Build outputs
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User specific
*.user
*.suo

# Ignore file Global.cs trong DTOs (nếu bạn muốn ẩn file này)
#DTOs/Global.cs
# OS
.DS_Store
Thumbs.db

# MAUI specific
*.apk
*.aab
*.app
*.ipa

# Logs
*.log